.input_container {
  .header_component {
    height: auto;
    padding: 1rem 6rem;
    color: #038c7f;
    font-size: 5rem;
    font-weight: 600;
  }
  .input_component {
    padding: 2rem 6rem;
    display: flex;
    justify-content: space-between;
    .input_text {
      flex: 0 0 75%;
      input {
        padding: 2rem;
        border-radius: 20px;
        width: 100%;
        box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
      }
    }
    .submit_btn {
      flex: 0 0 15%;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 20px;
      background-color: #038c7f;
      box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
      cursor: pointer;
      span {
        font-size: 3rem;
        color: #fff;
      }
    }
  }
}
