@import url('https://fonts.googleapis.com/css2?family=Alkatra:wght@600;700&family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
  --font-size: 2rem;
}

body {
  margin: 0;
  font-size: var(--font-size);
  font-family: 'Alkatra', cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(45deg, #027373, #038c7f, #a9d9d0);
}

input,
button {
  font-family: 'Alkatra', cursive;
  font-size: var(--font-size);
  font-weight: 400;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
